.footer__contacts_socials {
   margin: 0;
   display: flex;
   width: 32px;
   height: 27px;
   background-image: url('../../../../images/logo.svg');
   background-repeat: no-repeat;
   background-size: contain;
}